## sbrov3 Modules
fastapi[standard]==0.115.12
uvicorn==0.34.0
pandas==2.2.3
tb-mqtt-client==1.12.0
pymmh3==0.0.5
paho-mqtt==2.1.0
adtk==0.6.2
pydantic == 2.11.5
pyod == 2.0.5
numpy == 2.2.6
numba == 0.61.2
streamlit == 1.45.1
requests
prometheus-client == 0.22.1
joblib == 1.5.1
pathlib
## Other Modules 

# add here your special needs